<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Movies_VPD_311"
			connectionString="
					Data Source=(localdb)\ProjectModels;
					Initial Catalog=Movies_VPD_311;
					Integrated Security=True;
					Connect Timeout=30;
					Encrypt=False;
					TrustServerCertificate=False;
					ApplicationIntent=ReadWrite;
					MultiSubnetFailover=False
					"
        />
  <add name="MoviesForms.Properties.Settings.connectionString"
   connectionString="Data Source=(localdb)\ProjectModels;&#xA;Initial Catalog=Movies_VPD_311;&#xA;Integrated Security=True;&#xA;Connect Timeout=30;&#xA;Encrypt=False;&#xA;TrustServerCertificate=False;&#xA;ApplicationIntent=ReadWrite;&#xA;MultiSubnetFailover=False" />
 </connectionStrings>
</configuration>